*.lo
*.o
*.la
*.a
.deps/
.libs/
Makefile.in
Makefile

/m4
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.h
/stamp-h1
/config.h.in
/config.log
/config.status
/configure
/libtool
/documentation/

*.orig
*~
*.swp
cscope.*
/.ide/
